.idea
source/vendor/*
source/app/cache/*
source/app/logs/*
source/composer.lock
source/src/Gallery/Bundles/AppBundle/Resources/assets/coffee/**/*.js
source/src/Gallery/Bundles/AppBundle/Resources/assets/coffee/**/*.map