{% block body %}

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <span class="navbar-brand" href="#">Js gallery</span>
        </div>
    </div>
</nav>
<section class="main-section">
    <div class="container">
        <div id="main-region"></div>
    </div>
</section>

{% endblock %}