html {
  position: relative;
  min-height: 100%;
  body {
    section.main-section {
      .container {
        padding: 60px 15px 0;
        #main-region {
          width: 60%;
          margin: 20px auto;
          .albums-list {
            .album-item {
              border: 1px solid lightgray;
              margin: 0 10px 20px;
              padding: 5px;
            }
          }
        }
      }
    }
  }
}




