html {
  position: relative;
  min-height: 100%;
  body {
    section.main-section {
      .container {
        padding: 60px 15px 0;
        #main-region {
          width: 80%;
          margin: 10px auto;
        }
      }
    }
  }
}